/*
 * Globals
 */

body {
    background: #f7f7f7;
    color: #555;
    font-family: helvetica, roboto, arial, sans-serif;
    font-weight: 400;
    line-height: 2em;
    margin-top: 40px;
    /*padding-top: 110px;*/
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
    font-family: helvetica, roboto, arial, sans-serif;
    font-weight: normal;
    color: #111;
    margin-top: 50px;
}

p {
  margin: 0 0 20px;
}

table{
    max-width: 100%;
    margin: 1.5em 0;
}

.logo a:hover{
    text-decoration: none;
}

.logo-blue{
    color:#0084ba ;
}

a,
.blabla-blue {
    color: #0CA9FA;
}

a:hover{
    color: #0CA9FA;
}

.blabla-green {
    color: #6cb52d;
}

.blabla-red {
    color: #c83433;
}

.navbar-brand {
    padding: 0;
    margin: 6px 24px 0 0;
}

.nav.navbar-nav>li>a {
    color: #0CA9FA;
    margin-top: 3px;
}

.label {
    background-color: #0CA9FA;
    text-shadow: none;
    text-transform: uppercase;
    padding: .35em .6em .3em;
    vertical-align: middle;
    border-radius: 1em;
}

.blog-intro,
.blog-post {
    font-size: 1.25em;
    line-height: 1.75;
}

.blog-intro{
    font-weight: 100;
}

.list-striped li {
    padding: 10px 5px 10px 15px;
}

/*.list-striped li:nth-child(odd){
    background-color: #f5f5f5;
}*/

.block{
    display: block;
}

article{
    margin-bottom: 50px;
}

.no-margin{
    margin: 0;
}

.overflow{
    overflow: hidden;
}

/*
* Structure
*/

.navbar-default{
    background-color: transparent;
}

.navbar {
    border: none;
    border-radius: O;
    margin-bottom: 40px;
}

.navbar-default .navbar-toggle {
  border-color: #0CA9FA;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #0CA9FA;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #0CA9FA;
}

.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #fff;
}


@media (min-width: 768px){
    .navbar-nav {
      float: right;
      margin: 0;
    }
}


.navbar-toggle {
    margin-right: 0;
}

.follow-us li:first-child{
    margin-right: 6px;
}


footer {
    background-color: transparent;
    color: #666;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*
 * Override Bootstrap's default container.
 */

.container {
    margin: auto;
    width: 650px;
}

@media screen and (max-width: 650px) {
    .container {
        width: 90%;
    }
}

.lead{
    width: 80%;
    margin-bottom: 40px;
}


/*
* BlaBlaTech Components
*/

#menu{
    margin-left: -45px;
}

@media screen and (max-width: 768px) {
    #menu{
        text-align: center;
        margin-left: 0;
    }   
}

.hero h1{
    font-size: 38px;
    position: relative;
}

.gradient-separator{
    background: #6cb52d; /* Old browsers */ /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#6cb52d), color-stop(33%,#6cb52d), color-stop(33%,#0084ba), color-stop(65%,#0084ba), color-stop(65%,#c83433), color-stop(100%,#c83433)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #6cb52d 0%,#6cb52d 33%,#0084ba 33%,#0084ba 65%,#c83433 65%,#c83433 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
    background: -webkit-linear-gradient(left, #6cb52d 0%, #6cb52d 33%, #0084ba 33%, #0084ba 65%, #c83433 65%, #c83433 100%);
    background: linear-gradient(to right,  #6cb52d 0%,#6cb52d 33%,#0084ba 33%,#0084ba 65%,#c83433 65%,#c83433 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6cb52d', endColorstr='#c83433',GradientType=1 ); /* IE6-9 */
    height: 2px;
    margin-bottom: 24px;
    margin-top: 15px;
}

article h1{
    margin: 0 0 10px 0;
}

article h1 a.post-title{
    color: black;
    font-size: 28px;
    line-height: 36px;
}

/* Buttons */

a.button{
    padding: 0.25em 1em;
    text-align: center;
    color:#0CA9FA;
    border: 1px solid #0CA9FA;
    border-radius: 6px;
/*    background-color: #EFEFEF;*/
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 45%;
    white-space: nowrap;
    font-weight:normal ;
}

    a.button:hover{
        text-decoration: none;
    }

    a.button.small{
        padding: 0.05em 0.75em;
        font-size: 12px;
    }

@media screen and (min-width: 650px) {
    a.read-more {
        text-align: left;
        text-decoration: underline;
        border: none;
        text-transform: capitalize;
        padding-left: 0;
    }
    
        a.read-more:hover {
            text-decoration: underline;
        }
}

.logo{
    font-size: 22px;
    font-family: tahoma, roboto, arial, sans-serif;
    padding-top: 12px;
    font-weight: normal;
    text-transform: none;
}

/* Blog preview */

.post-preview {
    margin-top: 70px;
}

    .post-preview h1 {
        margin-top: 50px;
    }

.author-container{
    margin: 50px auto;
}

.author-container img{
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.blog-intro img,
.blog-post img {
    width: 100%;
    height: auto;
    margin: 0.5em auto;
    border-radius: 3px;
}

.blog-post .img-caption {
    display: block;
    font-size: smaller;
    font-style: italic;
    text-align: center;
}

.blog-intro iframe,
.blog-post iframe{
    width: 100%;
    height: auto;
}

.blog-post .youtube {
    height: 315px;
    width: 560px;
}

/*Older posts*/

.previous{
    margin-top: 50px;
}

.previous-list{
    margin-top: 20px;
}

.previous-list--item{
    border-bottom: 1px solid #f6f6F6;
    padding-bottom: 9px;
    padding-top: 9px;
    line-height: 1.2;
    margin-bottom: 9px;
}

    .previous-list--item img{
        width: 40px;
        height:auto;
        margin-right: 6px;
    }

    .previous-list--item a{
        text-decoration: underline;
    }

    .previous-list--item:first-child{
        padding-top: 0;
    }

    .previous-list--item:last-child{
        padding-bottom: 0;
        border-bottom: none;
    }

/* Blog page */

.blog-page .logo{
    margin-top: 12px;
}

.blog h1 {
    margin-bottom: 40px;
}

.blog .author-container{
    margin: 20px 0 40px 0;
}


/* Talks */

.talks img {
    height: auto;
    width: 100%;
}

.talks p {
    margin: 0;
}

img.talk-thumb {
    width: 30px;
    height: auto;
    margin: 5px 0;
}

.media-list{
    max-width: 290px;
    margin: 0 auto;
}

.media-list li{
    border: 1px solid #eee;
    margin-bottom: 40px;
}

.media-body{
    background: #fff;
    display: block;
    padding: 12px;
}

.media-body h4{
   line-height: 27px;
   font-weight: 200;
   color: #757474;
}

.badge.blue{
    background-color:#0CA9FA;
}

/* Archives */

.archive {
    margin-top: 40px;
}

.archive ul {
    margin-bottom: 40px;
}

.archive h3 {
    background-color: #fff;
    text-align: center;
    border: 1px solid #f1f1f1;
    border-radius: 40px;
    padding: 8px;
    max-width: 250px;
    margin: 50px auto 20px auto;
}

/* Authors */
.authors li:first-child {
    margin-top: 40px;
}

.authors li {
    background: #fff;
    border: 1px solid #eee;
    margin-bottom: 40px;
}

.authors li > a {
    margin: -35px auto 5px auto;
    display: block;
    width: 75px;
    height: 75px;
}

.authors li a img {
    width: 75px;
    height: 75px;
}

.authors .media-body {
    display: block;
    padding: 12px;
    text-align: center;
}

.authors .social {
    background-size: 26px 26px;
    display: inline-block;
    height: 26px;
    width: 26px;
}

.authors .social-github {
    background-image: url(../images/github.svg);
}

.authors .social-twitter {
    background-image: url(../images/twitter.svg);
}
