/*
 * Globals
 */

body {
    font-family: "Lora", serif;
    font-weight: 400;
    color: #555;
    padding-top: 70px;
    text-shadow: 2px 2px 2px rgba(85, 85, 85, 0.15)
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.navbar a {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    color: #333;
    text-shadow: 3px 3px 3px rgba(51, 51, 51, 0.25)
}

a,
h1,
.blabla-blue {
    color: #278bcb;
    text-shadow: 2px 2px 2px rgba(39, 139, 203, 0.25)
}

h2, .h2,
h3, .h3,
.blabla-green {
    color: #65bd4d;
    text-shadow: 2px 2px 2px rgba(101, 189, 77, 0.25)
}

.blabla-red {
    color: #cc3333;
}

.navbar-brand {
    padding: 0;
    margin: 6px 24px 0 0;
}

.navbar a {
    font-weight: bold;
    text-shadow: none;
    text-transform: uppercase;
}

.label {
    background-color: #278bcb;
    text-shadow: none;
    text-transform: uppercase;
}

.blog-post {
    font-size: 1.4em;
    line-height: 1.2;
}

/*
* Structure
*/

.navbar {
    background-color: #ddd;
    border-bottom: 1px solid #ccc;
}

section.previous {
    margin: 40px 0;
}

footer {
    background-color: #ddd;
    border-top: 1px solid #ccc;
    color: #666;
    margin-top: 20px;
    padding: 40px 0;
    text-align: center;
}

footer .follow-us {
    margin-bottom: 40px;
}

/*
 * Override Bootstrap's default container.
 */

.container {
    margin: auto;
    width: 650px;
}

@media screen and (max-width: 650px) {
    .container {
        width: 90%;
    }
}

/*
 * Images
 */

img.logo {
    height: 36px;
    width: 200px;
}

img.fun-and-serious {
    height: 200px;
    width: 155px;
}

.authors img {
    height: 100px;
    width: 100px;
}