---
layout: base
title:  BlaBlaCar's Tech department
---
<div class="hero">
    <h1><strong>SHARE MORE,<br>LEARN MORE</strong></h1>
    <p class="lead">One of BlaBlaCar's values explains probably best <i>"la raison d'être"</i> of this blog.</p>
</div>

<div class="clearfix">
    <div class="follow-us pull-right">
        <ol class="list-unstyled clearfix">
            <li class="pull-left">
                <a href="https://github.com/blablacar">
                    <img src="../images/github.svg" alt="BlaBlaCar GitHub page" width="26">
                </a>
            </li>
            <li class="pull-left">
                <a href="https://twitter.com/BlaBlaCarTech">
                    <img src="../images/twitter.svg" alt="BlaBlaTech Twitter page" width="26">
                </a>
            </li>
            <li class="pull-left">
                <a href="https://medium.com/blablacar-tech">
                    <img src="../images/medium.svg" alt="BlaBlaTech Medium page" width="26">
                </a>
            </li>
        </ol>
    </div>  
</div>

<div class="gradient-separator"></div>

{% assign post = site.posts.first %}

<article itemscope itemtype="http://schema.org/BlogPosting" class="post-preview">
    <header>        
        <h1 itemprop="name"><a href="{{ post.url }}" class="post-title">{{ post.title }}</a></h1>

        <div class="text-center author-container">
            {% for author in post.authors %}
                <img src="/images/authors/{{ author }}.png" alt="{{ author[1].nickname }}">
            {% endfor %}
            <p class="meta no-margin text-center">
                {% assign post_details_authors = post.authors %}
                {% assign post_details_date = post.date %}
                {% assign post_details_tags = post.tags %}
                {% include post_details.html %}
            </p>
        </div>

    </header>
    <div class="blog-intro">
        {{ post.content | truncatewords:100 | strip_html }} 
        <a href="{{ post.url }}" class="button block read-more">read more</a>
    </div>
</article>

{% if site.posts.size > 1 %}
<section class="previous">
    <h3>Older posts</h3>
    <ul class="list-unstyled previous-list">
        {% for post in site.posts offset:1 limit:5 %}
        <li class="previous-list--item clearfix">
            {% for author in post.authors %}
            <img src="/images/authors/{{ author }}.png" alt="{{ author[1].nickname }}" class="pull-left">
            {% endfor %}
            <p class="overflow no-margin">
                {{ post.date | date: "%Y-%m-%d" }}<br>
                <a href="{{ post.url }}">{{ post.title }}</a>
            </p>
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}
