---
layout: base
title:  Welcome
---

<div class="jumbotron">
    <h1>BlaBlaCar's talking tech</h1>
    <p>Share more, learn more: one of BlaBlaCar's values explains probably best <i>la raison d'être</i> of this blog.</p>
</div>

{% assign post = site.posts.first %}

<article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 itemprop="name"><a href="{{ post.url }}">{{ post.title }}</a></h1>
        <p class="meta">
            {% assign post_details_authors = post.authors %}
            {% assign post_details_date = post.date %}
            {% assign post_details_tags = post.tags %}
            {% include post_details.html %}
        </p>
    </header>
    <div class="blog-post">
        {{ post.content | truncatewords:100 | strip_html }} <a href="{{ post.url }}">read more</a>!
    </div>
</article>

{% if site.posts.size > 1 %}
<section class="previous">
    <h2>Previous posts</h2>
    <ul>
        {% for post in site.posts offset:1 limit:6 %}
        <li>
            {{ post.date | date: "%Y-%m-%d" }} <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</section>
{% endif %}
