---
layout: base
title:  Talks
---

<h1>Talks</h1>

All <a href="/authors/">our</a> talks and presentations starting from 2014.

{% for year in (2014..2015) reversed %}
    <h2 class="text-center">{{ year }} <span class="badge blue">{{ site.talks[year].size }}</span></h2>
    <ul class="media-list talks">
        {% for talk in site.talks[year] %}
            <li id="{{ talk[0] }}">
                <a href="{{ talk[1].url }}">{% if talk[1].thumb %}<img src="/images/talks/{{ talk[1].thumb }}" alt="{{ talk[1].title }}">{% endif %}</a>
                <div class="media-body">
                    <!-- <h4>{{ talk[1].title }}</h4> -->
                    <p>
                        {% for author in talk[1].authors %}
                            {% if false == forloop.first AND true == forloop.last %}<br/>{% endif %}
                            <a href="/authors/#author-{{ author }}"><img src="/images/authors/{{ author }}.png" alt="{{ author[1].nickname }}" class="talk-thumb"></a> <a href="/authors/#author-{{ author }}">{{ site.authors[author].name }}</a>
                        {% endfor %}
                    </p>
                    <hr width="80%"/>
                    <p>
                        <strong>{{ talk[1].event }}, {{ talk[1].place }}</strong><br />
                        {{ talk[1].date | strip_newlines }}
                    </p>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endfor %}