---
layout: base
title:  Archive
---

<h1>The blog's archive</h1>

{% for post in site.posts %}
    {% unless post.next %}
        <h2>{{ post.date | date: '%B %Y' }}</h2>
        <ul>
    {% else %}
        {% capture month %}{{ post.date | date: '%m' }}{% endcapture %}
        {% capture newMonth %}{{ post.next.date | date: '%m' }}{% endcapture %}
        {% if month != newMonth %}
            </ul>
            <h2>{{ post.date | date: '%B %Y' }}</h2>
            <ul>
        {% endif %}
    {% endunless %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
