---
layout: base
title:  Archive
---

<h1>Archive</h1>

All the posts that have been published by <a href="/authors/">us</a>.

<h2>Browse by tags</h2>

{% for tag in site.articletags %}
    <a href="/blog/tag/{{ tag }}">#{{ tag }}</a> &nbsp;
{% endfor %}

<h2>Browse by date</h2>

<div class="archive">
  {% for post in site.posts %}
      {% unless post.next %}
          <h3>{{ post.date | date: '%B %Y' }}</h3>
          <ul class="list-unstyled">
      {% else %}
          {% capture month %}{{ post.date | date: '%m' }}{% endcapture %}
          {% capture newMonth %}{{ post.next.date | date: '%m' }}{% endcapture %}
          {% if month != newMonth %}
              </ul>
              <h3>{{ post.date | date: '%B %Y' }}</h3>
              <ul class="list-unstyled">
          {% endif %}
      {% endunless %}
      <li class="text-center"><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>  
</div>
