---
layout: base
title:  Authors
---

<h1>Authors</h1>

The following people contributed either to <a href="/blog/">our blog</a> or to <a href="/talks/">our talks</a>.

<ul class="list-striped media-list authors">
    {% for author in site.authors %}
    <li id="author-{{ author[0] }}" class="media">
            <a class="media-left media-middle" href="#">
                <img src="/images/authors/{{ author[0] }}.png" alt="{{ author[1].nickname }}">
            </a>
            <div class="media-body">
                <h4 class="media-heading">{{ author[1].name }}</h4>
                {{ author[1].role }}<br />
                {% if author[1].github %}<a class="social social-github" href="https://github.com/{{ author[1].github }}"></a>{% endif %}
                {% if author[1].twitter %}<a class="social social-twitter" href="https://twitter.com/{{ author[1].twitter }}"></a>{% endif %}
            </div>
        </li>
    {% endfor %}
</ul>