<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="{% if page.authors %}{% for author in page.authors %}{{ site.authors[author].name }}{% if forloop.rindex > 1 %}, {% endif %}{% endfor %} from the {% endif %}BlaBlaCar Tech team.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} - {{ site.name }}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:image" content="http://blablatech.com/images/blablatech-logo-v1.png">
    <link rel="alternate" href="/atom.xml" title="{{ site.name }}" type="application/atom+xml" />
    <link rel="icon" href="/images/favicon.ico">
    <link href="/css/bootstrap-3.3.1.min.css" rel="stylesheet">
    <link href="/css/syntax.css" rel="stylesheet">
    <link href="/css/blablatech.css?v={{ site.time | date: '%s' }}" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="container">
    <div class="row">
    <nav class="navbar navbar-default" role="navigation">
        <div class="logo pull-left">
            <a href="/">
                <span class="blabla-green">Bla</span><span class="logo-blue">Bla</span><span class="blabla-red">Tech</span>
            </a>
        </div>
           <!-- <a href="" class="button block pull-right small">Subscribe</a> -->
           <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
              </button>
          </div>
            <div class="navbar-collapse collapse" id="menu">
                <ul class="nav navbar-nav">
                    <li><a class="blog-nav-item" href="/">Home</a></li>
                    <li><a class="blog-nav-item" href="/blog/">Archive</a></li>
                    <li><a class="blog-nav-item" href="/authors/">Authors</a></li>
                    <li><a class="blog-nav-item" href="/talks/">Talks</a></li>
                </ul>
            </div><!--/.nav-collapse -->
    </nav>
        {{ content }}
    </div>
</div>

<footer>
    <p class="text-center">©  {{ site.time | date: '%Y' }}. All rights reserved.</p>
</footer>

<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-57236693-1', 'auto');
    ga('send', 'pageview');
    ga('set', 'anonymizeIp', true);
</script>

</body>
</html>
